@import '/src/css/styles.css';

.content_container {
  display: flex;
  justify-content: center;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width-expand);
}

@media (max-width: 1240px) {
  .content_container {
    margin-left: var(--sidebar-width-collapsed);
  }
}

@media (max-width: 740px) {
  .content_container {
    margin-left: 0;
  }
}
